.header{
    max-width: 100rem;
    margin: 0;
    padding: 1.5rem;
    text-align: center;
    background-color: rgb(247, 146, 179);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: 0.5em;
    letter-spacing: 2px;
    color: rgb(119, 13, 119);

}

p{
    font-family: sans-serif;
    font-size: 2rem;
    font-weight: 300;
}